*.iml
.gradle
/local.properties
/.idea

.kotlin/
.kotlin/metadata

.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
iosApp/Pods
androidApp/release/androidApp-release.apk
/androidApp/sentry.properties
androidApp/release/
node_modules
website/node-compile-cache
androidApp/src/google-services.json
androidApp/build
androidApp/src/debug/google-services.json
website/node_modules

package.json

iosApp/build

shared/build

multiplatform-markdown-renderer/build

krop/build

kotlix/build

color_picker/build

keystore.properties
